{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import kolokvijumske nedelje</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-default">
        <a href="/studserviceapp/authenticate" class="navbar-brand">
            Studentski servis
        </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% for naziv, link in funk.items %}
            <li class="nav-item">
                {% if naziv == 'Slanje maila' or naziv == 'Izbor grupe' or naziv == 'Unos obavestenja' or naziv == 'Pregled studenata' or naziv == 'Upload slike' or naziv == 'Prikaz celog rasporeda nastave'%}
                    <a class="nav-link" href="{% url link user %}">{{ naziv }}</a>
                {% else %}
                    <a class="nav-link" href="/studserviceapp/{{ link }}">{{ naziv }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
  </div>
    </nav>

    <form action=" {% url 'dodaj_ispravljene' %}" method="post" class="ispravka_import_form">
        {% csrf_token %}

        <div class="greske_levi">
            <label class="naslov">Greske: </label><br>
            <div class="scroll">
            {% for key, value in greske.items %}
                <label class="greske_label">{{ value }}<br></label>
            {% endfor %}
            </div>
        </div>

        <div class="ispravke_desni">
            <label class="naslov">Ispravite greske: </label>
            <div class="scroll">
            {% for key, value in losi_redovi.items %}
                <div class="ispravka">
                <label>{{ key }}: </label>
                <input type="text" name="lista" value="{{ value }}" size="100"><br>
                </div>
                <input type="hidden" name="lista2" value="{{ key }}">
            {% endfor %}
            </div>
            <br>
            <input type="hidden" name="ucitani_termini" value="{{ termini }}">
            <input type="hidden" name="raspored_id" value="{{ raspored_id }}">
            <input type="submit" value="Upload ispravke">
        </div>

    <br>
    <br>
    </form>
    <form action=" {% url 'ispravka_import' %}" method="post" enctype="multipart/form-data" class="donji_form">
        {% csrf_token %}
        <input type="hidden" name="lista" value="{{ termini }}">
        <label class="naslov2">Uploadovanje ispravljenog fajla: </label><br>
        <input type="file" name="raspored" id="file"><label for="file" />choose a file</label>
        {% if greska %}
            <label style="color: rgb(196,81,94)">{{ greska }}</label>
        {% endif %}
        {% if uspesno %}
            <label style="color: rgb(88, 204, 123)">Uspesno uploadovan raspored</label>
        {% endif %}
        <input type="submit" value="Upload">
    </form>

    <script>
        var file;
            file = document.getElementById('file');
            var label = file.nextElementSibling, labelVal = label.innerHTML;

            file.addEventListener('change', function(e){
                var fileName = '';

                fileName = e.target.value.split('\\').pop();

                if (fileName){
                    label.innerHTML = fileName;
                } else {
                    label.innerHTML = labelVal;
                }

            })
    </script>

</body>
</html>